html, body{
    scroll-behavior: smooth;

}

body{
    background-color: lavender;
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    position: absolute;
    text-align: center;
    margin: 10px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:  1rem;
    box-sizing: border-box;
    z-index: 1000;
    
}
.logo img{
    height: 50px;
    width: 100px;
    
}
.nav-links{
    display: flex;
    gap: 15px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

header{
    margin-top: 200px;
    
}
.btn{
    display: flex;
    justify-self: center;

}
.shop{
    height: 40px;
    width: 120px;
    border: none;
    background-color: rgb(160, 160, 150);
    border-radius: 3px;
    transition: transform 0.2s;
    justify-self: center;  
    animation-name: pop;  
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.shop a{
    color: #030303 !important;
    font-weight: bold;
}
@keyframes pop{
    0%{ transform: scale(1);}
     25%{ transform: scale(1.2);}
      50%{ transform: scale(1);}
       75%{ transform: scale(1.2);}
        100%{ transform: scale(1);}

}
    

.now a{
    text-decoration: none;
    color: aliceblue;
}
.shop a{
     text-decoration: none;
    color: aliceblue;
}
.shop:active{
    transform: scale(0.9);
}
.now:active{
    transform: scale(0.9);
}
.feat{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 4 equal columns */
  grid-template-rows: repeat(9, 200px);  /* 3 rows with fixed height */
  gap: 2px;
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 4 equal columns */
  grid-template-rows: repeat(16, 200px);  /* 3 rows with fixed height */
  gap: 2px;
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.container div {
  display: flex;
  align-items: end;
  padding: 0px;
  justify-content: center;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 1px;
  box-sizing: border-box;
}
.container2 div {
  display: flex;
  align-items: end;
  padding: 0px;
  justify-content: center;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 1px;
  box-sizing: border-box;
}
.nig1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.nigg1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}


.nig1:first-child {
  grid-row: span 2; 
  grid-column: span 4;/* Make the first item span two rows */
}
.nig1:nth-child(2){
    grid-column: span 4;
    object-fit: contain;

}
.nig1:nth-child(3){
    grid-column: span 4 ;
    grid-row: span 2;
}
.nig1:nth-child(4){
    grid-column: span 4;
    grid-row: span 2;
}
.nig1:nth-child(5){
    grid-column: span 4;
    grid-row:  span 2;
}
.nig1:nth-child(6){
    grid-column: span 4;
}
.nig1:nth-child(7){
    grid-column: span 2;
}
.nig1:nth-child(8){
    grid-column: span 2 ;
}
.nig1:nth-child(9){
    grid-column: span 4;
    grid-row: span 2;
    
}
.nig1:nth-child(10){
    grid-column: span 4 ;
    grid-row: span 3;
}
.nig1:nth-child(11){
    grid-column: span 4 ;
    grid-row: span 2;
}




.nigg1:first-child {
  grid-row: span 2; 
  grid-column: span 4;/* Make the first item span two rows */
}


.nigg1:nth-child(2){
    grid-column: span 4;
    object-fit: contain;

}
.nigg1:nth-child(3){
    grid-column: span 4 ;
    grid-row: span 2;
}
.nigg1:nth-child(4){
    grid-column: span 4;
    grid-row: span 2;
}
.nigg1:nth-child(5){
    grid-column: span 4;
    grid-row:  span 2;
}
.nigg1:nth-child(6){
    grid-column: span 4;
}
.nigg1:nth-child(7){
    grid-column: span 2;
}
.nigg1:nth-child(8){
    grid-column: span 2 ;
}
.nigg1:nth-child(9){
    grid-column: span 4;
    grid-row: span 2;
    
}
.nigg1:nth-child(10){
    grid-column: span 4 ;
    grid-row: span 3;
}
.nigg1:nth-child(11){
    grid-column: span 4 ;
    grid-row: span 2;
}
.nigg1:nth-child(12){
    grid-column: span 2 ;
    grid-row: span 2;
}
.nigg1:nth-child(12){
    grid-column: span 4;
    grid-row: span 2;
}
.nigg1:nth-child(13){
    grid-column: span 4 ;
    grid-row: span 2;
}
.nigg1:nth-child(14){
    grid-column: span 4 ;
    grid-row: span 1;
}
.nigg1:nth-child(15){
    grid-column: span 4;
    grid-row: span 2;
}
.nigg1:nth-child(16){
    grid-column: span 4;
    grid-row: span 3;
}
.nigg1:nth-child(17){
    grid-column: span 4 ;
    grid-row: span 2;
}
.nigg1:nth-child(18){
    grid-column: span 4 ;
    grid-row: span 1;
}
.nigg1:nth-child(19){
    grid-column: span 4 ;
    grid-row: span 1;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px; 
    gap: 5px;
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
    gap: 1rem;
   


    

}
@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}
.fade{
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bold;
  height: 400px;
  border-radius: 7px;
  animation: appear  linear ;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  
    
}
.fade img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}


.bitch{
    width: 90%;
    height: 100px;
    background-color: rgb(182, 182, 182);
    padding: 10px;
    color: rgb(2, 2, 2);
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    border-radius: 3px;
    
}
.alot{
    display: flex;
    height: 40px;
    align-self: center;
    align-items: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(121, 119, 119);
    border-radius: 3px;
    transition: transform 0.2s;

}
.alot a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.alot:active{
    transform: scale(0.9);
}
.alot1{
    display: flex;
    align-items: center;
}
.hood{
    border-left: 4px solid;
    padding-left: 0.5rem;
    color: #444;
}

.social{
    display: flex;
    gap :25px;
    flex-wrap: wrap;
    justify-content: center;
}  

.back{
    position: absolute;
    top: 2px;
    left: 2px;
}
.back button{
     height: 40px;
    width: 100px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(160, 160, 150);
    border-radius: 3px;
    transition: transform 0.2s;
}
.back button:active{
    transform: scale(0.9);
}


@media screen and (max-width:500px){
    .grid-container{
        grid-template-columns: auto;
        width: 75%;

    }
    .container{
        width: 95vw;
    }
    

}
@media screen and (max-width:400px) {
    .nav-links{
        gap: 10px;
    }
    
}


